*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    font-family: $font-rubyk;
    color: $footer;
}

p{
    color: $txt;
    font-family: $font-rubyk;
}

h1,h2,h2,h3,h4{
    color: $footer;
    font-family: $font-rubyk;
    font-weight: 500;
}

.wrapper{
    width: 80%;
    max-width: 1350px;
    margin: auto;
}

.display-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}