.menu {
    padding: 40px 0px;
}

p,a,h1,h2,h3,h4{
    font-family: $Rubik;
}

header img{
    width: 150px;
}

nav a{
    margin-left: 40px;
    color:$DarkBlue;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 300;
    transition: color 0.5s ease-in-out;
 
    &:hover{
        color: $Orange;
    }
}

nav ul li:last-child a{
   @include btn-orange;
}

.banner{
    padding: 100px 0px;
    position: relative;

    h1{
        color: $DarkBlue;
        font-size: 3rem;
        font-weight: 500;
        width: 500px;
    }

    p{
        color: $Grey;
        padding: 20px 0px;
        line-height: 1.5;
        width: 450px;
        font-size: 1.1rem;
    }

    
    a:nth-of-type(1) {    // USO DE LOS SELECTORES nth PARA NO CREAR CLASES DE MAS PARA CADA ELEMENTO a Y ASI EVITAR EL USO DE MAS CODIGO 
        @include btn-blue;
        margin-right: 15px;

    }

    a:nth-of-type(2) {  // USO DE LOS SELECTORES nth PARA NO CREAR CLASES DE MAS PARA CADA ELEMENTO a Y ASI EVITAR EL USO DE MAS CODIGO 
        @include btn-white;

    }
        img{
            width: 100%;
            }

    
}

